
.colorDiv{
    bottom: 10px;
    right: 199px;
    height: 14px;
    position: absolute;
    /* height: 15px;
    opacity: 0.9;
    width: fit-content;
    left: 60%;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.min-value {
    float: left;
    width: 63px;
    margin-right: 20px;
}

.max-value {
    float: right;
    width: 63px;
    margin-left: 20px;
}

.legend-img{
    float: left;
    width: 120px;
}

.imgResize{
    max-width:100%;
    max-height:100%;
}