<div *ngIf="feature" class="emissions-main">

  <div mat-subheader class="header">Emissions data</div>

  <div *ngIf="feature.geometry.type === 'Point'">

    <mat-form-field class="emission-form-width">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Emission" required [(ngModel)]="title">
      <mat-hint>Emissions title</mat-hint>
    </mat-form-field>

    <mat-form-field class="emission-form-width">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Emission" required [(ngModel)]="description">
      <mat-hint>Emission description</mat-hint>
    </mat-form-field>

    <mat-form-field class="emission-form-width">
      <mat-label>Nanomaterial</mat-label>
      <mat-select [(value)]="nanomaterial" class="emission-form-width">
        <mat-option value="TiO2">TiO2</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="emission-form-width">
      <mat-label>Compartment</mat-label>
      <mat-select [(value)]="compartment" class="emission-form-width">
        <mat-option value="Surface water">Surface water</mat-option>
        <mat-option value="Soil">Soil</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="emission-form-width">
      <mat-label>Form</mat-label>
      <mat-select [(value)]="form" class="emission-form-width">
        <mat-option value="Pristine">Pristine</mat-option>
        <mat-option value="Matrix embedded">Matrix embedded</mat-option>
        <mat-option value="Transformed">Transformed</mat-option>
        <mat-option value="Dissolved">Dissolved</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="emission-form-width">
      <mat-label>Temporal Profile</mat-label>
      <mat-select [(value)]="temporalProfile" class="emission-form-width">
        <mat-option value="P1">P1</mat-option>
        <mat-option value="P2">P2</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="emission-form-width">
        <mat-label>Emission</mat-label>
        <input matInput placeholder="Emission" required [(ngModel)]="emission">
        <mat-hint>Kg per square meter per year</mat-hint>
      </mat-form-field>


  </div>

  <div *ngIf="feature.geometry.type === 'Polygon'">

    <mat-form-field class="emission-form-width">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Emission" required [(ngModel)]="title">
      <mat-hint>Emissions title</mat-hint>
    </mat-form-field>

    <mat-form-field class="emission-form-width">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Emission" required [(ngModel)]="description">
      <mat-hint>Emission description</mat-hint>
    </mat-form-field>

    <mat-form-field class="emission-form-width"> 
      <mat-label>Nanomaterial</mat-label>
      <mat-select [(value)]="nanomaterial" class="emission-form-width">
        <mat-option value="TiO2">TiO2</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="emission-form-width">
      <mat-label>Emission</mat-label>
      <input matInput placeholder="Emission" required [(ngModel)]="emission">
      <mat-hint>Kg per square meter per year</mat-hint>
    </mat-form-field>

  </div>

  <div class="action-buttons">
    <button mat-flat-button color="primary" class="button" (click)="onSave()">Save</button>
    <button mat-flat-button color="warn" class="button" (click)="onDelete()">Delete</button>
    <button mat-flat-button class="button" (click)="onCancel()">Cancel</button>
  </div>



</div>
