<div *ngIf="feature" class="emissions-main">
 <form (ngSubmit)="onSubmit(f)" #f="ngForm"> 
   
  <div mat-subheader class="header">Emissions data</div>

  <div *ngIf="feature.geometry.type === 'Point'">

    <mat-form-field class="emission-form-width">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Emission" required [(ngModel)]="feature.properties.title" name="title" ngModel>
      <mat-hint>Emissions title</mat-hint>
    </mat-form-field>

    <mat-form-field class="emission-form-width">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Emission" required [(ngModel)]="feature.properties.description" name="description" ngModel>
      <mat-hint>Emission description</mat-hint>
    </mat-form-field>

    <mat-form-field class="emission-form-width">
      <mat-label>Nanomaterial</mat-label>
      <mat-select [(value)]="feature.properties.nanomaterial" class="emission-form-width"[ngModel]="defaultNano" name="nanomaterial" >
        <mat-option value="TiO2">TiO2</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="emission-form-width">
      <mat-label>Compartment</mat-label>
      <mat-select [(value)]="feature.properties.compartment" class="emission-form-width" [ngModel]="defaultCompartment" name="compartment">
        <mat-option value="Surface water">Surface water</mat-option>
        <mat-option value="Soil">Soil</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="emission-form-width">
      <mat-label>Form</mat-label>
      <mat-select [(value)]="feature.properties.form" class="emission-form-width"[ngModel]="defaultForm" name="form">
        <mat-option value="Pristine">Pristine</mat-option>
        <mat-option value="Matrix embedded">Matrix embedded</mat-option>
        <mat-option value="Transformed">Transformed</mat-option>
        <mat-option value="Dissolved">Dissolved</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="emission-form-width">
      <mat-label>Temporal Profile</mat-label>
      <mat-select [(value)]="feature.properties.temporalProfile" class="emission-form-width" [ngModel]="defaultProfile" name="temporalProfile"> 
        <mat-option value="P1">P1</mat-option>
        <mat-option value="P2">P2</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="emission-form-width">
        <mat-label>Emission</mat-label>
        <input type="number" matInput placeholder="Emission" required [(ngModel)]="feature.properties.emission" name="emission" ngModel>
        <mat-hint>Kg per square meter per year</mat-hint>
      </mat-form-field>
      <!--end of Point-->
  </div>

  <div *ngIf="feature.geometry.type === 'Polygon'">

    <mat-form-field class="emission-form-width">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Emission" required [(ngModel)]="feature.properties.title" name="title" ngModel>
      <mat-hint>Emissions title</mat-hint>
    </mat-form-field>

    <mat-form-field class="emission-form-width">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Emission" required [(ngModel)]="feature.properties.description" name="description" ngModel>
      <mat-hint>Emission description</mat-hint>
    </mat-form-field>

    <mat-form-field class="emission-form-width"> 
      <mat-label>Nanomaterial</mat-label>
      <mat-select [(value)]="feature.properties.nanomaterial" class="emission-form-width" name="nanomaterial" [ngModel]="defaultNano">
        <mat-option value="TiO2">TiO2</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="emission-form-width">
      <mat-label>Emission</mat-label>
      <input type="number" matInput placeholder="Emission" required [(ngModel)]="feature.properties.emission" name="emission" ngModel>
      <mat-hint>Kg per square meter per year</mat-hint>
    </mat-form-field>

  </div>

  <div class="action-buttons">
    <button mat-flat-button color="accent"
     class="button"
      (click)="onSave()" 
      matTooltip="Save emission"
      [disabled] = "!f.valid"
      >
      Save</button>
    <button mat-flat-button color="warn" class="button" (click)="onDelete()" matTooltip="Delete emission">Delete</button>
    <button mat-flat-button class="button" (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" class="button" (click)="onRemove()" matTooltip="Remove from map">Remove</button>
  </div>

</form>


</div>
