.emission-form-width{
    width:100%;
    margin-top: 1em;
}

.emissions-main{
    width: 410px;
    margin: auto;
    /* margin-left: 10%; */
}

.header{
    margin-top:2em;
}

.button{
    float: right;
    margin: 1em;
}