<mat-card class="emissions-card" *ngIf="showEmissions">
    <mat-card-header>
      <mat-card-subtitle>Emissions on map</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-content">

        <mat-list *ngIf="scenariosEmissions" class="emisson_list">
            <div *ngFor="let ems of scenariosEmissions;">
                <mat-list-item  class="list_item" (click)="onRowClicked(ems)">
                    <mat-icon mat-list-icon>blur_circular</mat-icon>
                    <div mat-line matTooltip="{{ems.properties?.description}}">{{ems.properties?.title}}</div>
                    <div *ngIf="ems.properties?.date" mat-line> {{ems.properties?.date | date}} </div>
                  </mat-list-item>
            </div>
        </mat-list>
        
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button matTooltip="Run simulation">
          <mat-icon>arrow_forward_ios </mat-icon>
      </button> -->
    </mat-card-actions>
  </mat-card>