<app-base-map></app-base-map>

<div *ngIf="loggedIn; else loggedOut" class="logged_in">

  <app-mains></app-mains>

  <app-scenarios-emissions></app-scenarios-emissions>

  <app-simulations-emissions></app-simulations-emissions>
  
  <!-- <app-show-simulation *ngIf="showSimulation"></app-show-simulation> -->
  <app-show-simulation ></app-show-simulation>

  <mat-button-toggle-group #group="matButtonToggleGroup" (change)="themeChanged($event)" [(value)] = "selectedTheme" class="theme-t">
    <mat-button-toggle value="dark-theme" aria-label="Text align left" >
      Dark
    </mat-button-toggle>
    <mat-button-toggle value="default-theme" aria-label="Text align center">
      Light
    </mat-button-toggle>
    <mat-button-toggle value="green-theme" aria-label="Text align center">
      Green
    </mat-button-toggle>
  </mat-button-toggle-group>

  <div *ngIf = "showLegend.show" class="color-legend">
    <app-color-legend [outputView]="showLegend.type" [minValue]="showLegend.minValue" [maxValue]="showLegend.maxValue"></app-color-legend>
  </div>

</div>

<ng-template #loggedOut>
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Welcome</mat-card-title>
      <mat-card-subtitle>To Nano Fase</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        A platform for exposure simulations
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="accent" class="login-button" (click)="login()">Login</button>
    </mat-card-actions>
  </mat-card>

 
  <mat-card class="acknowledgement">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>NanoSolveIT cloud platform</mat-card-title>
      <mat-card-subtitle>This work
        received funding from the European Union's Horizon 2020 research and innovation program
        via NanoSolveIT project under grant agreement number 814572</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-fab color="primary" class="tutorial" matTooltip="Download tutorial" (click)="downloadTutorial()">
        <mat-icon>file_download</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
    




</ng-template>
