.login-card {
    opacity: 0.8;
    position: absolute;
    bottom: 60%;
    left:70%;
    z-index:1;
}


.mat-button-toggle-group{
    position: absolute;
    z-index: 4;
}

.theme-t{
    /* position: absolube; */
    bottom:10px;
    right: 10px;
    height: 45px;
    opacity: 0.9;
}


.color-legend{
    /* position: absolube; */
    bottom:10px;
    right: 50px;
    height: 45px;
    opacity: 0.9;
}


.nanosolveit{
    width: 120px;
    margin-left: 1em;
    position: absolute;
    bottom: 0;
}



.acknowledgement {
    max-width: 320px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    opacity: 0.8;
}
  
.example-header-image {
    background-image: url('/assets/nanosolveitbw.png');
    background-size: contain;
}

.tutorial{
    float: right;
    margin-right: 1em;
}