<div id="map-mapbox"></div>
<div id="calculated-area"></div>


<button 
    *ngIf="saveScenario"
    mat-raised-button color="primary" 
    class="save-scenario" 
    matTooltip="Save emissions shown on map as a scenario"
    (click)="onSaveScenario()">Save</button>


<button 
    *ngIf="scenarioOnScreen"
    mat-raised-button color="accent" 
    class="save-scenario" 
    matTooltip="Run simulation for the presented scenario" (click)="onRunScenario()">Run</button>
<!-- <button mat-mini-fab class="b_test">Basic</button> -->