<div id="map-mapbox"></div>

<canvas id=”deck-canvas”></canvas>

<div id="calculated-area"></div>

<button 
    *ngIf="saveScenario"
    mat-raised-button color="primary" 
    class="save-scenario" 
    matTooltip="Save emissions shown on map as a scenario"
    (click)="onSaveScenario()">Save</button>


<button 
    *ngIf="scenarioOnScreen && !simulationsEmissions"
    mat-raised-button color="accent" 
    class="save-scenario" 
    matTooltip="Run simulation for the presented scenario" (click)="onRunScenario()">Run</button>


     
   
    <!-- <span class="above">{{rMaxValue}}</span>
    <div *ngIf="podMap" class="colormap" >
        <img class = "imgResize" src="/assets/pod_colormap_bar.png">
    </div>
    
    <div *ngIf="!podMap" class="colormap" >
        <img class = "imgResize" src="/assets/colormap_bar.png">
    </div>
    <span class="below">{{rMinValue}}</span> -->

<!-- <mat-card *ngIf = "colormap" class="colorDiv">
    <mat-card-header>
        <mat-card-subtitle>Color Legend</mat-card-subtitle>
    </mat-card-header> 
    
    <mat-card-content>
            
        <div class="min-value">{{rMinValue}}</div>

        <div class="legend-img">
            <img *ngIf="podMap" class = "imgResize" src="/assets/pod_colormap_bar.png">
            <img *ngIf="!podMap" class = "imgResize" src="/assets/colormap_bar.png">
            
        </div>
      
        <div class="max-value">{{rMaxValue}}</div>
  

        <div *ngIf="podMap" class="colormap" >
            <img class = "imgResize" src="/assets/pod_colormap_bar.png">
        </div>
        
        <div *ngIf="!podMap" class="colormap" >
            <img class = "imgResize" src="/assets/colormap_bar.png">
        </div> -->
        <!-- <span></span> -->
        
        
        
        <!-- <p>{{rMinValue}}</p> 
    </mat-card-content>
</mat-card> -->
      
<!-- <button mat-mini-fab class="b_test">Basic</button> -->